<?xml version="1.0" encoding="utf-8"?>
<config>
    <forward_contract>ni1908</forward_contract>
    <recent_contract>ni1907</recent_contract>
	<!-- 0 近期合约 1远期合约!-->
	<main_contract>0</main_contract>
    <open_with>0</open_with>
    <close_with>0</close_with>
    <open_threshold>-750</open_threshold>
    <close_threshold>-680</close_threshold>
	<!-- 0看涨 1看跌!-->
    <direction>0</direction>
    <locked_position>0</locked_position>
    <stop_loss>3</stop_loss>
    <stop_loss_type>1</stop_loss_type>
    <max_postion>3</max_postion>
    <submit_max>1</submit_max>
    <forward_cancel_max>400</forward_cancel_max>
    <recent_cancel_max>400</recent_cancel_max>
    <quote_channel>
        <front>tcp://180.168.146.187:10031</front>
        <user>115385</user>
        <password>Rlk170310</password>
    </quote_channel>
    <trade_channel>
        <front>tcp://180.168.146.187:10030</front>
        <user>115385</user>
        <password>Rlk170310</password>
        <auth_code>WZ8SXDW8ANHL2XFU</auth_code>
        <app_id>Client_HLTai_1.0</app_id>
        <broker>9999</broker>
    </trade_channel>
</config>
